*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    font-size:70%;
    @media(max-width:105em){
        font-size: 62.5%;
    }
    @media (max-width:25em) {
        font-size: 59%;
    }
    @media(max-width:17.5em){
        font-size: 45%;
    }
}

body{
    line-height:1.8;
    font-size: 1.8rem;
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
}

$white:#fff;
$main-color:#2876dc;
$main-background:#f9f9f9;
$text-color-grey:#555;

header{
    padding: 1rem 3.5rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.067);
    background-color: $main-background;
    z-index: 1000;
}

section{
    padding:9.8rem 4.5rem;
    @media (max-width:58em){
        padding: 7.8rem 2rem;
        text-align: center;
    }
}

img{
    display: inline-block;
    width: 100%;
    height:100%;
}

/****** TEXT SYSTEM ******/
.heading--primary{
    color: #2d2e32;
    font-family: Poppins,sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.sub-heading{
    color:$main-color;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}
