/****** (Mobile/Tablet)-navigation ******/
@media (max-width:63em) {
    .main-nav-list{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height:100vh;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        background-color: $white;
        flex-direction: column;
        font-size: 2.4rem;
        transition: all 0.4s;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
    }
    
    .nav-btn{
        display: block !important;
        z-index: 9999;
    }
    
    .show-mobile-nav .main-nav-list {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .show-mobile-nav svg .open-menu-icon{
       display: none;
    }

    .show-mobile-nav svg .close-menu-icon{
        display: block;
    }
}


/****** Desktop-navigation ******/
.navigation{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo{
        font-size:3.4rem;
        font-family:'Courier New', Courier, monospace
    }

    .main-nav-list{
        display: flex;
        gap:2rem;
        list-style: none;
        font-size: 2rem;

        &__link:link,
        &__link:visited{
           text-decoration: none;
           transition: all 0.4s;
           color: #333;
           font-weight: 600;
        }

        &__link:hover,
        &__link:active{
           color: $main-color;
        }

        .nav-btn{
            display: none;
        }
    }
   
    .open-menu-icon{
        display: block; 
    }

    .close-menu-icon{
        display: none;
    }

    .nav-btn{
        display: none;
    }

}


