
.project-section{
    background-color: $main-background;
    .project__content{
        max-width: 100rem;
        margin: 0 auto;
    }
    
    .projects{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        border-radius: 2rem;
        margin-top: 6rem;
        height: auto;
        gap: 5rem;
        
        .project{
            background-color: $white;
            border-radius: 2rem;
            box-shadow: 0 0 10px rgba(0,0,0,.1);
            display: flex;
            flex-direction: row;
            min-height: 40rem;
            padding: 2rem;
            gap:4rem;
            @media (max-width:58em){
                flex-direction: column;
                gap:3rem;
                margin: 0 auto;
            }
    

            &__heading{
                align-items: center;
                color: #2d2e32;
                display: flex;
                font-size: 2rem;
                font-weight: 700;
                gap: 0.2rem;
                justify-content: center;
                position: relative;
                text-transform: uppercase;
            }
            
            &__text{
                font-family: Poppins, sans-serif;
                font-weight: 500;
                display: flex;
                flex-direction: column;
                height: auto;
                justify-content: center;
                text-align: center;
                max-width: 30rem;
                margin: 0 auto;
            }

            &__description{
                color: #767676;
                font-size: 1.7rem;
                margin-bottom: 2rem;
                font-weight: 500;
                text-align: center;
                text-transform: none;
            }

            &__btns{
                display: flex;
                gap:3rem;
                justify-content: center;
            }

            a:link,
            a:visited{
                color: #2d2e32;
                font-size: 1.7rem;
                font-weight: 500;
                gap: 5px;
                transition: all 0.4s;
                text-decoration: none;
            }

            a:hover,
            a:active{
                color: $main-color;
                text-decoration: underline;
            }

            &__image{
                border-radius: 1.7rem;
                box-shadow: 0 0 10px rgba(0,0,0,.1);
                height: auto;
                overflow: hidden;
                max-width: 55rem;
                object-fit: cover;
            }
        }

        .reverse{
            flex-direction: row-reverse;
            @media (max-width:58em){
                flex-direction: column;
                gap:3rem;
                margin: 0 auto;
            }
        }
    }
    
}
